* {
    margin: 0;
    padding: 0; 

}
body {
    
  background-image: url("media/VideoCapture.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

table {

    border-collapse: collapse;
    border-spacing: 0;
    
    margin: 130px auto; 
    background-color: #27272721;
   
  }
  
  td {
    width: 130px;
    height: 130px;
    border: 2px solid black;
    text-align: center;
    font-size: 35px;
  }
  
  td:hover {
    cursor: pointer;
    background-color:#4a5968;}
